@import "mixins";
@import "fonts";
@import "variable";

* {
  font-size: 12px;
}

ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}

a {
  text-decoration: none !important;
}

.graybg {
  background: #F6F6F6 !important;
}

.white-bg {
  background: #ffffff !important;
}

.btn-green {
  background: #8cc640 !important;
}

.diviver {
  border: none;
  height: 10px;
  width: 90%;
  height: 50px;
  margin-top: 0;

  box-shadow: 0 15px 20px -18px #999;
  margin: -50px auto 10px;
}

.btn-buy {
  width: 100%;
  padding: 10px 0;
  border: 1px #fff solid;
  background: #F45549;
  color: #ffffff;
  font-size: 18px;

}

.mr-top-20 {
  margin-top: 20px;
}

.wrapper {
  min-height: 2000px;
}

.header {
  position: relative;
  .header-login {
    position: absolute;
    right: 80px;
    top: 180px;
    i, a {
      font-size: 14px;
      font-weight: 100;
      color: #969696;
      padding-right: 1px #969696 solid;
    }
    span {
      border-right: 1px #cccccc solid;
      margin: 0 10px;
    }

  }
  .logo {
    text-align: center;
    padding-top: 50px;
    a {
      img {

      }
    }
  }
  .menu {
    text-align: center;
    margin-top: 20px;
    ul {

      li {
        display: inline-block;
        padding: 5px 55px;
        a {
          text-transform: uppercase;
          font-size: 24px;
          font-family: $hevel;
          display: block;
          color: #969696;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          &:hover {
            color: #8cc640;
          }

        }
      }
    }
    .sub-menu {

      .sub-collection, .sub-gift, .sub-bedroom {
        display: none;
        padding-top: 20px;
        text-align: center;
        .sub-item {
          width: 220px;
          margin-right: 40px;
          display: inline-block;
          .thumb {
            img {
              width: 100%;
            }
          }
          .title {
            padding: 10px 0;
            a {
              text-transform: uppercase;
              font-size: 16px;
              font-family: $hevel;
              color: #969696;
            }
          }
        }
      }
    }

  }
}

.sub-login {
  background: #F6F6F6;
  form {
    .login-title {
      font-size: 20px;
      text-transform: uppercase;
      padding: 20px 0;
      color: #969696;
      text-align: center;
    }
    div {
      margin-top: 5px;
      text-align: left;
      label {

        float: right;
        color: #969696;
        font-size: 14px;
        font-weight: normal;
        
      }
      input {
        background: transparent;
        width: 100%;
        padding: 5px;
        border: 1px #969696 solid;
      }

      input[type=submit] {
        width: auto !important;
        padding: 5px 20px;
      }
      a {
        color: #969696;
        float: right;
      }
    }

  }

}

.main {
  .hero-slider {
    .slider-item {
      img {
        width: 100%;
      }

    }
  }
  .home-block {
    margin-top: 50px;
    .block-title {
      text-transform: uppercase;
      font-size: 20px;
      font-family: Tahoma;
      color: #969696;
      margin-bottom: 50px;
    }
    .block-body {
      iframe {
        width: 100%;
        height: 316px;
      }
      a {
        img {
          width: 100%;
        }
      }
    }
  }

  .sub-tab {
    margin: 50px 0;
    ul {
      li {
        display: inline-block;
        text-align: center;
        padding: 0;
        border-right: 1px #969696 solid;
        a {
          font-size: 18px;
          color: #969696;

        }
        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  .home-news {
    .thumb {
      img {
        width: 100%;
      }
    }
    .title {
      padding: 10px 0;
      a {
        font-size: 24px;
        color: #000000;
        font-weight: bold;
      }
    }
    .desc {
      color: #000000;
      font-size: 18px;
      height: 50px;
      overflow: hidden;
    }
  }

}

.home-free-ship {
  margin-top: 50px;
  background: #f6f6f6;
  text-align: center;
  padding: 50px 0;
  .logo-2 {

    img {

    }
  }
  h2 {
    color: #969696;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 0;
    margin-top: 0;
  }
  .free-ship {
    background: #8cc640;
    color: #ffffff;
    padding: 10px 50px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;

  }

}

.bottom {
  padding-top: 50px;
  ul {
    li {
      padding: 10px 0;
      display: block !important;
      a {
        color: #969696;
        font-family: Tahoma;
        font-size: 16px;
      }
      &.title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        color: #969696;
        font-family: $hevel;
      }
    }
  }
}

.breadcrumb {
  ul {
    li {
      display: inline-block;
      padding: 5px;
      font-weight: bold;
      span {
        padding: 0 5px 0 15px;
      }
      a {
        color: #969696;
        font-weight: normal;
      }
    }
  }
}

.product-detail {
  .title {
    font-family: $helveBold;
    font-size: 24px;
    color: #555456;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center;
  }
  .vote {
    color: #8cc640;
    text-align: center;
    span {
      color: #969696;
    }
    padding-bottom: 20px;
  }
  .price {
    text-align: right;
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    label {
      float: left;
      font-weight: normal;
      margin-top: 15px;
    }
  }
  .size {
    text-align: left !important;
    padding: 10px 0;
    select.slSize {
      padding: 5px;
      border: 1px #969696 solid;
      margin-right: 20px;

      float: left;

    }
    select.slQty {
      padding: 5px;
      border: 1px #969696 solid;
      width: 20%;
      float: left;
    }
  }
  .shoping-info, .ship-info {
    padding-top: 20px;
    .row {
      div {
        padding: 0 5px;
        text-align: center;
      }
    }
  }

  .product-tabs {
    border-bottom: 0;
    padding-bottom: 30px;
    li {

      a {
        border: 0;
        font-family: $hevel;
        font-size: 14px;
        &:hover {

          background: transparent;
          border: 0;

        }
      }
      &.active {
        a {
          background: transparent;
          border: 0;
          border-bottom: 2px #8cc640 solid;

        }
      }
    }
  }
}

.ship-info {
  padding-top: 20px;
  .row {
    div {
      padding: 0 5px;
      text-align: center;
    }
  }
  padding-bottom: 40px;
}

.list-product {
  .list-title {
    text-transform: uppercase;
    font-size: 24px;
    font-family: $hevel;
    color: #969696;
    margin-bottom: 30px;
    padding: 20px 0;

  }
  .list-body {
    .product-item {
      .thumb {
        padding: 20px 20px 20px 0;
        img {
          width: 100%;
        }
      }
      .title {
        font-family: $helveBold;
        font-size: 24px;
        color: #555456;
        text-transform: uppercase;
        padding-bottom: 20px;
        text-align: left;
      }
      .vote {
        color: #8cc640;
        text-align: left;
        span {
          color: #969696;
        }
        padding-bottom: 20px;
      }
      .price {
        text-align: right;
        font-size: 24px;
        color: #000000;
        font-weight: bold;
        label {
          float: left;
          font-weight: normal;
          margin-top: 15px;
        }
      }
      .size {
        text-align: left !important;
        padding: 10px 0;
        margin-bottom: 20px;
        select.slSize {
          padding: 5px;
          border: 1px #969696 solid;
          margin-right: 20px;

          float: left;

        }
        select.slQty {
          padding: 5px;
          border: 1px #969696 solid;
          width: 20%;
          float: right;
        }
      }
    }
  }
}

.choosed {
  .title {
    text-transform: uppercase;
    font-size: 24px;
    font-family: $hevel;
    color: #969696;

    padding-top: 20px;
  }
  .sub-title {
    color: #8cc640;
    font-size: 14px;
    font-family: $hevel;
  }
}

.list-category {
  .category-item {
    position: relative;
    .thumb {
      img {
        width: 100%;
      }
    }
    .info {
      display: none;
      border: 1px #ffffff solid;
      position: absolute;
      background: rgba(0, 0, 0, .5);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .info-in {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        position: absolute;
        border: 1px #ffffff solid;
        text-align: center;
        padding-top: 40%;
        .title {
          color: #ffffff;
          font-size: 20px;
          font-family: $hevel;
        }
        a {
          color: #ffffff;
        }

      }
    }
    &:hover {
      cursor: pointer;

      .info {
        display: block;
      }
    }
  }
}