@font-face {
  font-family: "helve";
  src: url("fonts/UTM Helve.eot?") format("eot"), url("fonts/UTM Helve.woff2") format("woff2"), url("fonts/UTM Helve.woff") format("woff"), url("fonts/UTM Helve.ttf") format("truetype"), url('fonts/UTM Helve.svg#str-replace("helve", " ", "_")') format("svg"); }

@font-face {
  font-family: "helveBold";
  src: url("fonts/UTM HelveBold.eot?") format("eot"), url("fonts/UTM HelveBold.woff2") format("woff2"), url("fonts/UTM HelveBold.woff") format("woff"), url("fonts/UTM HelveBold.ttf") format("truetype"), url('fonts/UTM HelveBold.svg#str-replace("helveBold", " ", "_")') format("svg"); }

* {
  font-size: 12px; }

ul {
  padding-left: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none !important; }

.graybg {
  background: #F6F6F6 !important; }

.white-bg {
  background: #ffffff !important; }

.btn-green {
  background: #8cc640 !important; }

.diviver {
  border: none;
  height: 10px;
  width: 90%;
  height: 50px;
  margin-top: 0;
  box-shadow: 0 15px 20px -18px #999;
  margin: -50px auto 10px; }

.btn-buy {
  width: 100%;
  padding: 10px 0;
  border: 1px #fff solid;
  background: #F45549;
  color: #ffffff;
  font-size: 18px; }

.nomr-text {
  font-size: 14px;
  font-family: "helve"; }

.mr-top-20 {
  margin-top: 20px; }

.wrapper {
  min-height: 2000px; }

.header {
  position: relative; }
  .header .header-login {
    position: absolute;
    right: 80px;
    top: 180px; }
    .header .header-login span {
      color: #999999;
      margin: 0 10px;
      padding: 5px 10px; }
      .header .header-login span.search {
        border-right: 1px #cccccc solid; }
      .header .header-login span.login a {
        color: #999999;
        font-size: 14px; }
      .header .header-login span.showCartNumber {
        text-align: center;
        background: url("../images/cart-header.jpg") no-repeat center;
        border: 0;
        padding-top: 10px; }
        .header .header-login span.showCartNumber a {
          color: #FFFFFF; }
  .header .logo {
    text-align: center;
    padding-top: 50px; }
  .header .menu {
    text-align: center;
    margin-top: 20px; }
    .header .menu ul li {
      display: inline-block;
      padding: 5px 55px; }
      .header .menu ul li a {
        text-transform: uppercase;
        font-size: 18px;
        font-family: tahoma, arial, helvetica;
        display: block;
        color: #969696;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        outline: none; }
        .header .menu ul li a:hover {
          color: #8cc640; }
    .header .menu .sub-menu .sub-collection, .header .menu .sub-menu .sub-gift, .header .menu .sub-menu .sub-bedroom {
      display: none;
      padding-top: 20px;
      text-align: center; }
      .header .menu .sub-menu .sub-collection .sub-item, .header .menu .sub-menu .sub-gift .sub-item, .header .menu .sub-menu .sub-bedroom .sub-item {
        width: 220px;
        margin-right: 40px;
        display: inline-block; }
        .header .menu .sub-menu .sub-collection .sub-item .thumb img, .header .menu .sub-menu .sub-gift .sub-item .thumb img, .header .menu .sub-menu .sub-bedroom .sub-item .thumb img {
          width: 100%; }
        .header .menu .sub-menu .sub-collection .sub-item .title, .header .menu .sub-menu .sub-gift .sub-item .title, .header .menu .sub-menu .sub-bedroom .sub-item .title {
          padding: 10px 0; }
          .header .menu .sub-menu .sub-collection .sub-item .title a, .header .menu .sub-menu .sub-gift .sub-item .title a, .header .menu .sub-menu .sub-bedroom .sub-item .title a {
            text-transform: uppercase;
            font-size: 16px;
            font-family: "helve";
            color: #969696; }

.sub-login {
  background: #F6F6F6;
  padding: 20px 0; }
  .sub-login form .login-title {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #969696;
    text-align: center; }
  .sub-login form div {
    margin-top: 5px;
    text-align: left; }
    .sub-login form div label {
      float: right;
      color: #969696;
      font-size: 14px;
      font-weight: normal; }
    .sub-login form div input {
      background: transparent;
      width: 100%;
      padding: 5px;
      border: 1px #969696 solid; }
    .sub-login form div input[type=submit] {
      width: auto !important;
      padding: 5px 20px; }
    .sub-login form div a {
      color: #969696;
      float: right; }
  .sub-login .connect a img {
    margin: 10px 0; }

.main .hero-slider .slider-item img {
  width: 100%; }

.main .home-block {
  margin-top: 50px; }
  .main .home-block .block-title {
    text-transform: uppercase;
    font-size: 20px;
    font-family: Tahoma;
    color: #969696;
    margin-bottom: 50px; }
  .main .home-block .block-body iframe {
    width: 100%;
    height: 316px; }
  .main .home-block .block-body a img {
    width: 100%; }

.main .sub-tab {
  margin: 50px 0; }
  .main .sub-tab ul li {
    display: inline-block;
    text-align: center;
    padding: 0;
    border-right: 1px #969696 solid; }
    .main .sub-tab ul li a {
      font-size: 18px;
      color: #969696; }
    .main .sub-tab ul li:last-child {
      border-right: 0; }

.main .home-news .thumb img {
  width: 100%; }

.main .home-news .title {
  padding: 10px 0; }
  .main .home-news .title a {
    font-size: 24px;
    color: #000000;
    font-weight: bold; }

.main .home-news .desc {
  color: #000000;
  font-size: 18px;
  height: 50px;
  overflow: hidden; }

.home-free-ship {
  margin-top: 50px;
  background: #f6f6f6;
  text-align: center;
  padding: 50px 0; }
  .home-free-ship h2 {
    color: #969696;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 0;
    margin-top: 0; }
  .home-free-ship .free-ship {
    background: #8cc640;
    color: #ffffff;
    padding: 10px 50px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold; }

.bottom {
  padding-top: 50px; }
  .bottom ul li {
    padding: 10px 0;
    display: block !important; }
    .bottom ul li a {
      color: #969696;
      font-family: Tahoma;
      font-size: 16px; }
    .bottom ul li.title {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      color: #969696;
      font-family: "helve"; }

.breadcrumb ul li {
  display: inline-block;
  padding: 5px;
  font-weight: bold; }
  .breadcrumb ul li span {
    padding: 0 5px 0 15px; }
  .breadcrumb ul li a {
    color: #969696;
    font-weight: normal; }

.product-detail .title {
  font-family: "helveBold";
  font-size: 24px;
  color: #555456;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center; }

.product-detail .vote {
  color: #8cc640;
  text-align: center;
  padding-bottom: 20px; }
  .product-detail .vote span {
    color: #969696; }

.product-detail .price {
  text-align: right;
  font-size: 24px;
  color: #000000;
  font-weight: bold; }
  .product-detail .price label {
    float: left;
    font-weight: normal;
    margin-top: 15px; }

.product-detail .size {
  text-align: left !important;
  padding: 10px 0; }
  .product-detail .size select.slSize {
    padding: 5px;
    border: 1px #969696 solid;
    margin-right: 20px;
    float: left; }
  .product-detail .size select.slQty {
    padding: 5px;
    border: 1px #969696 solid;
    width: 20%;
    float: left; }

.product-detail .shoping-info, .product-detail .ship-info {
  padding-top: 20px; }
  .product-detail .shoping-info .row div, .product-detail .ship-info .row div {
    padding: 0 5px;
    text-align: center; }

.product-detail .product-tabs {
  border-bottom: 0;
  padding-bottom: 30px; }
  .product-detail .product-tabs li a {
    border: 0;
    font-family: "helve";
    font-size: 14px; }
    .product-detail .product-tabs li a:hover {
      background: transparent;
      border: 0; }
  .product-detail .product-tabs li.active a {
    background: transparent;
    border: 0;
    border-bottom: 2px #8cc640 solid; }

.ship-info {
  padding-top: 20px;
  padding-bottom: 40px; }
  .ship-info .row div {
    padding: 0 5px;
    text-align: center; }

.list-product .list-title {
  text-transform: uppercase;
  font-size: 24px;
  font-family: "helve";
  color: #969696;
  margin-bottom: 30px;
  padding: 20px 0; }

.list-product .list-body .product-item .thumb {
  padding: 20px 20px 20px 0; }
  .list-product .list-body .product-item .thumb img {
    width: 100%; }

.list-product .list-body .product-item .title {
  font-family: "helveBold";
  font-size: 24px;
  color: #555456;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: left; }

.list-product .list-body .product-item .vote {
  color: #8cc640;
  text-align: left;
  padding-bottom: 20px; }
  .list-product .list-body .product-item .vote span {
    color: #969696; }

.list-product .list-body .product-item .price {
  text-align: right;
  font-size: 24px;
  color: #000000;
  font-weight: bold; }
  .list-product .list-body .product-item .price label {
    float: left;
    font-weight: normal;
    margin-top: 15px; }

.list-product .list-body .product-item .size {
  text-align: left !important;
  padding: 10px 0;
  margin-bottom: 20px; }
  .list-product .list-body .product-item .size select.slSize {
    padding: 5px;
    border: 1px #969696 solid;
    margin-right: 20px;
    float: left; }
  .list-product .list-body .product-item .size select.slQty {
    padding: 5px;
    border: 1px #969696 solid;
    width: 20%;
    float: right; }

.choosed .title {
  text-transform: uppercase;
  font-size: 24px;
  font-family: "helve";
  color: #969696;
  padding-top: 20px; }

.choosed .sub-title {
  color: #8cc640;
  font-size: 14px;
  font-family: "helve"; }

.list-category .category-item {
  position: relative; }
  .list-category .category-item .thumb img {
    width: 100%; }
  .list-category .category-item .info {
    display: none;
    border: 1px #ffffff solid;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .list-category .category-item .info .info-in {
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      position: absolute;
      border: 1px #ffffff solid;
      text-align: center;
      padding-top: 40%; }
      .list-category .category-item .info .info-in .title {
        color: #ffffff;
        font-size: 20px;
        font-family: "helve"; }
      .list-category .category-item .info .info-in a {
        color: #ffffff; }
  .list-category .category-item:hover {
    cursor: pointer; }
    .list-category .category-item:hover .info {
      display: block; }

.banner-category img {
  width: 100%; }

.breadcrumb {
  margin-bottom: 0; }

.category-body .filter {
  margin: 10px 0; }
  .category-body .filter select {
    padding: 5px 10px;
    width: 100%; }
  .category-body .filter input[type=submit] {
    padding: 2px 10px 5px 10px;
    border: 0;
    color: #969696;
    background: transparent;
    font-size: 18px; }

.category-list .item {
  margin-bottom: 20px; }
  .category-list .item .thumb img {
    width: 100%;
    max-height: 230px; }
  .category-list .item .title {
    padding: 10px 0; }
    .category-list .item .title a {
      font-weight: bold;
      font-size: 20px;
      color: #969696; }
  .category-list .item .price {
    font-size: 16px;
    font-weight: bold; }

.gift-list .gift-title {
  padding: 20px 0;
  font-size: 24px;
  text-align: center; }

.gift-list .gift {
  text-align: center;
  border-bottom: 2px #C4C4C4 solid;
  border-top: 2px #C4C4C4 solid; }

.gift-list .gift-body .product-item .thumb .img {
  width: 100%; }

.gift-list .gift-body .product-item .title {
  padding: 10px 0;
  text-align: center; }
  .gift-list .gift-body .product-item .title a {
    font-size: 16px;
    color: #969696;
    display: block; }

.btn-register {
  background: #8cc640;
  margin-top: 10px;
  text-align: center; }
  .btn-register a {
    width: 100%;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    color: #FFFFFF !important;
    font-weight: bold;
    text-align: center; }

.cart-info .back a {
  font-size: 16px;
  color: #8cc640; }

.cart-info .list-cart-product .list-body .cart-list-title {
  padding: 10px 0; }
  .cart-info .list-cart-product .list-body .cart-list-title .count-product {
    text-transform: lowercase; }
  .cart-info .list-cart-product .list-body .cart-list-title .qty-title, .cart-info .list-cart-product .list-body .cart-list-title .price-title {
    font-size: 14px;
    text-align: right; }

.cart-info .list-cart-product .list-body .product-item {
  padding-bottom: 15px; }
  .cart-info .list-cart-product .list-body .product-item .thumb {
    margin: 0 -15px; }
    .cart-info .list-cart-product .list-body .product-item .thumb img {
      width: 100%; }
  .cart-info .list-cart-product .list-body .product-item .title {
    font-family: "helveBold";
    font-size: 14px;
    color: #555456;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: left; }
  .cart-info .list-cart-product .list-body .product-item .vote {
    color: #8cc640;
    text-align: left;
    padding-bottom: 20px; }
    .cart-info .list-cart-product .list-body .product-item .vote span {
      color: #969696; }
  .cart-info .list-cart-product .list-body .product-item .price {
    text-align: right;
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    text-align: right; }
  .cart-info .list-cart-product .list-body .product-item .size {
    text-align: left !important;
    margin-bottom: 20px; }
    .cart-info .list-cart-product .list-body .product-item .size select.slSize {
      padding: 5px;
      border: 1px #969696 solid;
      margin-right: 20px;
      float: left; }
    .cart-info .list-cart-product .list-body .product-item .size select.slQty {
      padding: 5px;
      border: 1px #969696 solid;
      width: 80%;
      float: right; }
  .cart-info .list-cart-product .list-body .product-item .remove i {
    color: #999999;
    cursor: pointer; }
