/*-----------------
 [ 3.4.1 Vertical megamenus]
 */

.top-nav .title {
    background: #000;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
    overflow: hidden;
}

.top-nav .title .btn-open-mobile > .fa {
    line-height: inherit;
}

.top-nav .title .btn-open-mobile {
    font-size: 17px;
    cursor: pointer;
    line-height: 50px;
}

.top-nav .vertical-menu-content {
    border-top: 3px solid #ff3366;
    background: #fff;
    display: none;
    padding-bottom: 15px;
}


.top-nav .vertical-menu-list {
    border-left: 1px solid #eaeaea;
}

.top-nav .vertical-menu-list li {
    display: block;
    line-height: 34px;
    margin-left: -1px;
    position: relative;
}

.top-nav .vertical-menu-list > li:hover {
    background: #ff3366;
}

.top-nav .vertical-menu-list > li:hover > a {
    color: #fff;
    border-color: #FF3366;
}

.top-nav .vertical-menu-list > li:hover > a.parent:before {
    color: #fff;
}

.top-nav .vertical-menu-list > li > a {
    padding-left: 20px;
    line-height: 36px;
    display: block;
}

.top-nav .vertical-menu-content ul > li > a.parent:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    position: absolute;
    top: 10px;
    right: 8px;
    color: #666;
}

.top-nav .vertical-menu-content ul > li > a.parent:after {
    position: absolute;
    background: #fff;
    height: 100%;
    top: 0;
    right: -2px;
    width: 2px;
    content: ' ';
    z-index: 2000;
    opacity: 0;
}

.top-nav .vertical-menu-content ul > li:hover > a.parent:after {
    opacity: 1;
}

.top-nav .vertical-menu-content ul > li.cat-link-orther {
    display: none;
}

.top-nav .vertical-menu-content ul li:hover .vertical-dropdown-menu {
    visibility: visible;
    display: block;
    height: auto;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;

}

.top-nav .vertical-menu-content ul li img.icon-menu {
    vertical-align: middle;
    padding-right: 15px;
}

.top-nav .all-category {
    text-align: center;
    margin-top: 14px;
    padding-right: 20px;
}

.top-nav .all-category span {
    height: 40px;
    width: 100%;
    line-height: 39px;
    border: 1px solid #eaeaea;
    text-align: center;
    display: block;
    cursor: pointer;
}

.top-nav .all-category span:hover {
    background: #FF3366;
    color: #fff;
    border-color: #FF3366;
}

.top-nav .all-category span:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f105";
    font-weight: bold;
    margin-left: 20px;
}



.top-nav .vertical-groups {
    padding: 24px 15px;
}

.top-nav .mega-group-header {
    border-bottom: 1px solid #E8E8E8;
    font-size: 17px;
    margin-bottom: 10px;
    display: table;
    width: 100%;
}

.top-nav .mega-group-header span {
    padding-bottom: 10px;
    border-bottom: 1px solid #ff3366;
    float: left;
    margin-bottom: -1px;
}

.top-nav .group-link-default {
    border: none !important;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;

}

.top-nav .group-link-default li {
    border: none !important;
    padding-left: 0 !important;
    line-height: 28px !important;
}

.top-nav .mega-products .mega-product {
    border-right: 1px solid #eaeaea;
    margin-top: 15px;
    line-height: 18px;
}

.top-nav .mega-products .mega-product:last-child {
    border-right: none;
}

.top-nav .mega-products .mega-product .product-price .new-price {
    width: auto;
    display: inline-block;
    color: #ff3366;
}

.top-nav .mega-products .mega-product .product-price .old-price {
    color: #999;
    text-decoration: line-through;
    width: auto;
    display: inline-block;
    padding-left: 20px;
}

.vertical-dropdown-menu .mega-products .mega-product .product-star {
    margin-top: 5px;
    color: #ff9900;
}

