@font-face {
  font-family: "roboto-Light";
  src: url("../fonts/roboto/Roboto-Light.eot?") format("eot"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff"), url("../fonts/roboto/Roboto-Light.ttf") format("truetype"), url('../fonts/roboto/Roboto-Light.svg#str-replace("roboto-Light", " ", "_")') format("svg"); }

@font-face {
  font-family: "roboto-medium";
  src: url("../fonts/roboto/Roboto-Medium.eot?") format("eot"), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"), url('../fonts/roboto/Roboto-Medium.svg#str-replace("roboto-medium", " ", "_")') format("svg"); }

.wrapper {
  min-height: 1000px; }

/* init */
* {
  font-family: tahoma, arial, helvetica;
  font-size: 12px; }

.mr-15-tb {
  margin: 15px 0; }

ul {
  margin-bottom: 0; }
  ul li {
    list-style: none; }

a {
  color: #333333; }
  a:hover {
    text-decoration: none; }

/* End init */
.header .toplink {
  background: #f2f2f2;
  border-bottom: 1px #e5e5e5 solid; }
  .header .toplink .address {
    padding: 5px 0 5px 10px; }
    .header .toplink .address i {
      color: #FF0000; }
    .header .toplink .address label {
      font-weight: bold; }
  .header .toplink .right-link {
    float: right; }
    .header .toplink .right-link ul li {
      position: relative;
      display: inline-block;
      padding: 5px 10px; }
      .header .toplink .right-link ul li ul.sub-toplink {
        position: absolute;
        background: #ffffff;
        border: 1px #cccccc solid;
        width: 300px;
        padding-left: 0;
        margin-top: 5px;
        display: none; }
        .header .toplink .right-link ul li ul.sub-toplink li {
          padding: 5px 0 5px 10px; }
          .header .toplink .right-link ul li ul.sub-toplink li i {
            color: #333333;
            font-weight: bold; }
      .header .toplink .right-link ul li:hover ul.sub-toplink {
        display: block; }

.header .header-logo {
  padding: 20px 0; }
  .header .header-logo .logo {
    text-align: center; }
  .header .header-logo form {
    padding-top: 10px; }
    .header .header-logo form .search-form input[type=text] {
      width: 100%;
      padding: 5px;
      border: 1px #cccccc solid; }
      .header .header-logo form .search-form input[type=text]:focus {
        outline: none; }
    .header .header-logo form .search-form button {
      width: 100%;
      background: #19ABE0;
      border: 2px #19ABE0 solid;
      font-weight: bold;
      color: #ffffff;
      padding: 4px; }
  .header .header-logo .header-head {
    padding-top: 10px; }
    .header .header-logo .header-head i {
      float: left;
      font-size: 25px;
      padding: 4px 10px 5px 5px;
      color: #19ABE0; }
    .header .header-logo .header-head .line-1 {
      font-weight: bold;
      margin-bottom: 3px; }
    .header .header-logo .header-head .note {
      font-size: 11px; }

.top-nav .home-nav .home-nav-x {
  background: #DA251C;
  padding: 5px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  font-weight: bold; }

.top-nav .home-nav:hover .left-nav {
  display: block;
  position: absolute;
  z-index: 3; }

.top-nav .home-nav .left-nav {
  padding: 5px 0;
  border: 1px #DA251C solid;
  display: none;
  background: #ffffff; }
  .top-nav .home-nav .left-nav ul {
    padding-left: 0; }
    .top-nav .home-nav .left-nav ul li {
      padding: 5px; }
      .top-nav .home-nav .left-nav ul li a {
        font-size: 13px;
        display: block;
        font-family: tahoma, arial, helvetica; }
        .top-nav .home-nav .left-nav ul li a img {
          width: 16px;
          margin-right: 10px; }
      .top-nav .home-nav .left-nav ul li .vertical-dropdown-menu {
        width: 855px;
        position: absolute;
        z-index: 2;
        left: 284px;
        border: 1px #DA251C solid;
        border-top: 3px #DA251C solid;
        background: #ffffff;
        display: none;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 5px; }
        .top-nav .home-nav .left-nav ul li .vertical-dropdown-menu .catTitle a {
          color: #000000;
          font-weight: bold; }
          .top-nav .home-nav .left-nav ul li .vertical-dropdown-menu .catTitle a:hover {
            color: #FF0000; }
        .top-nav .home-nav .left-nav ul li .vertical-dropdown-menu .sub-menu-list li a {
          color: #999999; }
          .top-nav .home-nav .left-nav ul li .vertical-dropdown-menu .sub-menu-list li a:hover {
            color: #FF0000; }
        .top-nav .home-nav .left-nav ul li .vertical-dropdown-menu .sub-menu-list li:hover {
          background: transparent; }
      .top-nav .home-nav .left-nav ul li:hover {
        background: #DA251C; }
        .top-nav .home-nav .left-nav ul li:hover .vertical-dropdown-menu {
          display: block; }
        .top-nav .home-nav .left-nav ul li:hover a {
          color: #ffffff; }
  .top-nav .home-nav .left-nav.ishome {
    display: block; }

.left-nav-sub {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #ccc;
  padding-top: 3px; }

.home-block {
  margin-top: 20px;
  border: 1px #19ABE0 solid; }
  .home-block .block-header {
    border: 1px #19ABE0 solid; }
    .home-block .block-header div.label {
      padding: 10px;
      background: #19ABE0;
      float: left; }
      .home-block .block-header div.label a {
        font-size: 14px;
        text-shadow: #0f0f0f;
        color: #ffffff; }
  .home-block .block-content .block-left {
    background: #f6f6f6;
    bottom: 0; }
    .home-block .block-content .block-left ul.block-left-menu {
      padding-left: 15px; }
      .home-block .block-content .block-left ul.block-left-menu li {
        padding: 10px 0; }
        .home-block .block-content .block-left ul.block-left-menu li a {
          font-size: 13px;
          font-family: tahoma, arial, helvetica; }
    .home-block .block-content .block-left ul.block-left-logo {
      padding-left: 0; }
      .home-block .block-content .block-left ul.block-left-logo li {
        text-align: center;
        padding: 5px; }
        .home-block .block-content .block-left ul.block-left-logo li div {
          border: 1px #cccccc solid;
          border-radius: 5px;
          padding: 20px 10px;
          background: #ffffff;
          padding: 5px; }
          .home-block .block-content .block-left ul.block-left-logo li div a img {
            max-width: 100%; }

.home-list-product .product-item {
  border-right: 1px #cccccc solid;
  outline: none;
  position: relative; }
  .home-list-product .product-item .thumb {
    padding: 5px;
    height: 175px; }
    .home-list-product .product-item .thumb img {
      width: 100%; }
  .home-list-product .product-item .name {
    padding: 5px; }
    .home-list-product .product-item .name a {
      font-size: 12px;
      color: #333;
      font-weight: bold; }
      .home-list-product .product-item .name a:hover {
        color: #DA251C; }
  .home-list-product .product-item .price {
    padding: 5px; }
    .home-list-product .product-item .price span {
      color: #999999;
      float: right;
      text-decoration: line-through; }
    .home-list-product .product-item .price span.goodprice {
      font-size: 16px;
      color: #DA251C;
      text-decoration: none;
      float: left;
      font-weight: bold; }
  .home-list-product .product-item .discount {
    position: absolute;
    background: #19ABE0;
    color: #ffffff;
    top: 5px;
    right: 0;
    padding: 5px; }

.bottom {
  background: #efefef;
  margin-top: 20px; }
  .bottom .b-info .b-title {
    font-weight: bold;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 14px; }
  .bottom .b-info ul {
    padding-left: 0; }
    .bottom .b-info ul li {
      padding: 5px 0; }

.jssora02l, .jssora02r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 55px;
  height: 55px;
  cursor: pointer;
  background: url("../../../img/a02.png") no-repeat;
  overflow: hidden; }

.jssora02l {
  background-position: -3px -33px; }

.jssora02r {
  background-position: -63px -33px; }

.jssora02l:hover {
  background-position: -123px -33px; }

.jssora02r:hover {
  background-position: -183px -33px; }

.jssora02l.jssora02ldn {
  background-position: -3px -33px; }

.jssora02r.jssora02rdn {
  background-position: -63px -33px; }

.jssora02l.jssora02lds {
  background-position: -3px -33px;
  opacity: .3;
  pointer-events: none; }

.jssora02r.jssora02rds {
  background-position: -63px -33px;
  opacity: .3;
  pointer-events: none; }

/* jssor slider thumbnail navigator skin 11 css */
/*.jssort11 .p            (normal).jssort11 .p:hover      (normal mouseover).jssort11 .pav          (active).jssort11 .pav:hover    (active mouseover).jssort11 .pdn          (mousedown)*/
.jssort11 .p {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 69px;
  background: #181818; }

.jssort11 .tp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; }

.jssort11 .i, .jssort11 .pav:hover .i {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 60px;
  height: 60px;
  border: white 1px dashed; }

* html .jssort11 .i {
  width: 62px;
  height: 32px; }

.jssort11 .pav .i {
  border: white 1px solid; }

.jssort11 .t, .jssort11 .pav:hover .t {
  position: absolute;
  top: 3px;
  left: 68px;
  width: 129px;
  height: 32px;
  text-align: center;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none; }

.jssort11 .pav .t, .jssort11 .p:hover .t {
  color: #fff; }

.jssort11 .c, .jssort11 .pav:hover .c {
  position: absolute;
  top: 38px;
  left: 3px;
  width: 194px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  overflow: hidden; }

.jssort11 .pav .c, .jssort11 .p:hover .c {
  color: #fc9835; }

.jssort11 .t, .jssort11 .c {
  transition: color 2s;
  -moz-transition: color 2s;
  -webkit-transition: color 2s;
  -o-transition: color 2s; }

.jssort11 .p:hover .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .pav:hover .c {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none; }

.jssort11 .p:hover, .jssort11 .pav:hover {
  background: #333; }

.jssort11 .pav, .jssort11 .p.pdn {
  background: #462300; }

.block-slide .slide-item img {
  width: 100%;
  max-height: 300px; }

.breadcrumb ul li {
  display: inline-block; }

.list-product h2.title {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px #ccc solid;
  padding: 5px 0; }

.list-product .filter {
  text-align: right; }
  .list-product .filter select {
    padding: 5px 10px; }
    .list-product .filter select option {
      padding: 5px 0; }

.list-product .list-product-body .products-item {
  border: 1px #FFFFFF solid;
  padding: 5px;
  cursor: pointer;
  margin: 10px 0; }
  .list-product .list-product-body .products-item .thumb {
    height: 200px; }
    .list-product .list-product-body .products-item .thumb img {
      width: 100%;
      max-height: 200px; }
  .list-product .list-product-body .products-item .name {
    padding: 5px 0;
    height: 50px; }
    .list-product .list-product-body .products-item .name a {
      font-weight: bold; }
  .list-product .list-product-body .products-item .price {
    color: #FF0000;
    font-weight: bold; }
  .list-product .list-product-body .products-item .buy-now {
    display: none;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    margin: 8px 0;
    background: #de251c;
    border-radius: 2px; }
    .list-product .list-product-body .products-item .buy-now a {
      color: #FFFFFF;
      text-shadow: -1px 0 1px #a00;
      display: block; }
  .list-product .list-product-body .products-item:hover {
    border: 1px #cccccc solid; }
    .list-product .list-product-body .products-item:hover .buy-now {
      display: block; }

.product-info h1.product-title {
  margin-top: 0;
  font-size: 26px;
  font-family: "roboto-medium";
  color: #19abe0; }

.product-info .product-title-b {
  color: #003;
  font-size: 12px; }

.product-info ul {
  margin-top: 20px;
  padding-left: 5px; }
  .product-info ul li {
    padding: 5px 0; }
    .product-info ul li label {
      width: 50%; }
    .product-info ul li .slQuantity {
      padding: 5px; }
      .product-info ul li .slQuantity option {
        font-weight: bold; }

.product-info .button-buy {
  background-color: #da251c;
  margin-right: 20px;
  float: left;
  display: block; }
  .product-info .button-buy .icon-spcart {
    background: url(../images/ShoppingCart-32.png) no-repeat center center;
    border-right: 1px solid #e16055; }
  .product-info .button-buy .btn-order-icon {
    height: 40px;
    float: left;
    font-size: .8em;
    width: 50px; }
  .product-info .button-buy .text-btn {
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #FFFFFF; }

.product-info .btn-order {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  height: 40px;
  text-decoration: none;
  width: calc(50% - 10px);
  text-align: center;
  border-radius: 3px; }

.box-setup {
  float: left;
  text-align: left;
  padding: 5px;
  line-height: 22px;
  background-color: rgba(255, 246, 199, 0.79);
  border: 1px dashed #ffd700;
  margin-bottom: 15px;
  border-radius: 3px; }
  .box-setup .title-setup {
    height: 32px;
    display: block;
    padding-left: 33px;
    text-transform: uppercase;
    line-height: 32px;
    font-size: 1.1em; }
  .box-setup .info-setup {
    border-top: 1px solid rgba(255, 215, 0, 0.36);
    margin-top: 5px;
    padding-top: 5px; }

.info-prod.prod-price.freeship {
  background: #edf6e1 url("../images/FreeShipping.png") 6px 0 no-repeat;
  width: 100%;
  display: block;
  padding: 5px 10px;
  margin: 0 0 15px 0;
  border-radius: 3px;
  border: 1px dashed #68af09;
  float: right; }

.info-prod.prod-price.freeship .title {
  display: inline-block;
  width: auto !important;
  margin-left: 50px;
  line-height: 20px;
  margin-right: 0; }

.bx-contact {
  width: 100%;
  float: left;
  text-align: left;
  padding: 10px;
  line-height: 22px;
  background-color: #f6f5f5;
  border: 1px solid #edecec; }
  .bx-contact .title-cnt {
    font-size: 1.1em;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    display: block; }
  .bx-contact .sup-item {
    width: 100%;
    float: left;
    margin: 10px 0 0 0; }
    .bx-contact .sup-item .title-support {
      display: block; }
    .bx-contact .sup-item .icon-chat {
      margin-right: 8px;
      display: block;
      padding-top: 5px;
      line-height: 24px; }
      .bx-contact .sup-item .icon-chat img {
        width: 24px;
        margin-right: 5px; }

.sliderImageGallery {
  border: 1px #cccccc solid;
  padding: 15px; }

.product-content-list .content-item {
  margin: 10px 0; }
  .product-content-list .content-item .img {
    text-align: center; }

.sticky {
  position: fixed;
  left: 960px;
  top: 0; }

.prod-viewed-wrap {
  width: 300px;
  border: 1px solid #ddd;
  float: left;
  margin-top: 15px; }
  .prod-viewed-wrap .prod-viewed {
    width: 288px;
    margin: 5px; }
    .prod-viewed-wrap .prod-viewed h2 {
      font-size: 18px;
      font-weight: bold; }
    .prod-viewed-wrap .prod-viewed .list-prod-view .row-prod {
      width: 100%;
      float: left;
      border-top: 1px solid #ddd;
      padding: 5px 0 5px 0;
      overflow: hidden; }
      .prod-viewed-wrap .prod-viewed .list-prod-view .row-prod .img-thumb-view {
        width: 130px;
        height: 150px;
        float: left;
        margin: 5px;
        position: relative;
        text-align: center; }
      .prod-viewed-wrap .prod-viewed .list-prod-view .row-prod .txt-thumb-view {
        width: 130px;
        float: left;
        margin: 5px; }
        .prod-viewed-wrap .prod-viewed .list-prod-view .row-prod .txt-thumb-view p:first-child {
          font-weight: 600; }
        .prod-viewed-wrap .prod-viewed .list-prod-view .row-prod .txt-thumb-view p > a {
          color: #0089e0; }
        .prod-viewed-wrap .prod-viewed .list-prod-view .row-prod .txt-thumb-view .price-new {
          color: #da251c;
          font-weight: bold;
          font-size: 1.1em; }
        .prod-viewed-wrap .prod-viewed .list-prod-view .row-prod .txt-thumb-view .price-old {
          text-decoration: line-through;
          color: #999; }

.cat-menu {
  border-radius: 3;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
  .cat-menu .cat-menu-title {
    line-height: 34px;
    color: #da251c;
    border-bottom: solid 1px #ccc;
    text-shadow: 1px 1px 0 #fff;
    background: #eee;
    font-weight: bold;
    padding-left: 20px; }
  .cat-menu .cat-menu-body ul {
    padding-left: 10px; }
    .cat-menu .cat-menu-body ul li {
      padding: 0 10px; }
      .cat-menu .cat-menu-body ul li a {
        padding: 5px 10px;
        display: block; }
