@import "mixins";
@import "fonts";
@import "variable";

.wrapper {
  min-height: 1000px;
}

/* init */
* {
  font-family: tahoma, arial, helvetica;
  font-size: 12px;
}

.mr-15-tb {
  margin: 15px 0;
}

ul {
  margin-bottom: 0;
  li {
    list-style: none;
  }
}

a {
  color: #333333;
  &:hover {
    text-decoration: none;
  }

}

/* End init */
.header {
  .toplink {

    background: #f2f2f2;
    border-bottom: 1px #e5e5e5 solid;
    .address {
      padding: 5px 0 5px 10px;
      i {
        color: #FF0000;
      }
      label {
        font-weight: bold;
      }
    }
    .right-link {
      float: right;
      ul {
        li {
          position: relative;
          display: inline-block;
          padding: 5px 10px;

          ul.sub-toplink {
            position: absolute;
            background: #ffffff;
            border: 1px #cccccc solid;
            width: 300px;
            padding-left: 0;
            margin-top: 5px;
            display: none;
            li {
              padding: 5px 0 5px 10px;
              i {
                color: #333333;
                font-weight: bold;
              }
              a {

              }
            }
          }
          &:hover {
            ul.sub-toplink {
              display: block;
            }
          }
        }
      }
    }
  }
  .header-logo {
    padding: 20px 0;
    .logo {
      text-align: center;
      img {

      }
    }
    form {
      padding-top: 10px;
      .search-form {
        input[type=text] {
          width: 100%;
          padding: 5px;
          border: 1px #cccccc solid;
          &:focus {
            outline: none;
          }
        }
        button {
          width: 100%;
          background: #19ABE0;
          border: 2px #19ABE0 solid;
          font-weight: bold;
          color: #ffffff;
          padding: 4px;
        }
      }
    }
    .header-head {
      padding-top: 10px;
      i {
        float: left;
        font-size: 25px;
        padding: 4px 10px 5px 5px;
        color: #19ABE0;
      }
      .line-1 {
        font-weight: bold;
        margin-bottom: 3px;
      }
      .note {
        font-size: 11px;
      }
    }
  }

}

.top-nav {

  .home-nav {
    .home-nav-x {
      background: #DA251C;
      padding: 5px;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 5px 5px 0 0;
      color: #ffffff;
      font-weight: bold;
    }
    &:hover {
      .left-nav {
        display: block;
        position: absolute;
        z-index: 3;
      }
    }
    .left-nav {
      padding: 5px 0;
      border: 1px #DA251C solid;
      display: none;
      background: #ffffff;
      ul {
        padding-left: 0;
        li {
          padding: 5px;
          a {
            font-size: 13px;
            display: block;
            font-family: tahoma, arial, helvetica;
            img {
              width: 16px;
              margin-right: 10px;
            }
          }
          .vertical-dropdown-menu {
            width: 855px;
            position: absolute;
            z-index: 2;
            left: 284px;
            border: 1px #DA251C solid;
            border-top: 3px #DA251C solid;
            background: #ffffff;
            display: none;
            top: 0;
            bottom: 0;
            right: 0;
            padding: 5px;
            .catTitle {
              a {
                color: #000000;
                font-weight: bold;
                &:hover {
                  color: #FF0000;
                }
              }
            }
            .sub-menu-list {
              li {
                a {
                  color: #999999;
                  &:hover {
                    color: #FF0000;
                  }
                }
                &:hover {
                  background: transparent;
                }
              }
            }
          }
          &:hover {
            background: #DA251C;
            .vertical-dropdown-menu {
              display: block;
            }
            a {
              color: #ffffff;
            }
          }
        }
      }
      &.ishome {
        display: block;
      }
    }
  }

}

.left-nav-sub {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #ccc;
  padding-top: 3px;

}

.home-block {
  margin-top: 20px;
  border: 1px #19ABE0 solid;
  .block-header {
    border: 1px #19ABE0 solid;

    div.label {

      padding: 10px;
      background: #19ABE0;
      float: left;
      a {
        font-size: 14px;
        text-shadow: #0f0f0f;
        color: #ffffff;
      }
    }
  }
  .block-content {
    .block-left {
      background: #f6f6f6;
      bottom: 0;
      ul.block-left-menu {
        padding-left: 15px;
        li {
          padding: 10px 0;
          a {
            font-size: 13px;
            font-family: tahoma, arial, helvetica;
          }
        }
      }
      ul.block-left-logo {
        padding-left: 0;
        li {
          text-align: center;
          padding: 5px;
          div {
            border: 1px #cccccc solid;
            border-radius: 5px;
            padding: 20px 10px;
            background: #ffffff;
            padding: 5px;
            a {
              img{
                max-width: 100%;
              }
            }
          }
        }
      }
    }
    .block-right {

    }
  }
}

.home-list-product {
  .product-item {
    border-right: 1px #cccccc solid;
    outline: none;
    position: relative;
    .thumb {
      padding: 5px;
      height: 175px;
      img {
        width: 100%;
      }
    }
    .name {
      padding: 5px;
      a {
        font-size: 12px;
        color: #333;
        font-weight: bold;
        &:hover {
          color: #DA251C;
        }

      }

    }
    .price {
      padding: 5px;
      span {
        color: #999999;
        float: right;
        text-decoration: line-through;
      }
      span.goodprice {
        font-size: 16px;
        color: #DA251C;
        text-decoration: none;
        float: left;
        font-weight: bold;
      }
    }
    .discount {
      position: absolute;
      background: #19ABE0;
      color: #ffffff;
      top: 5px;
      right: 0;
      padding: 5px;
    }
  }

}

.bottom {
  background: #efefef;
  margin-top: 20px;
  .b-info {
    .b-title {
      font-weight: bold;
      padding: 10px 0;
      text-transform: uppercase;
      font-size: 14px;
    }
    ul {
      padding-left: 0;
      li {
        padding: 5px 0;
        a {

        }
      }
    }
  }
}

// jssor //

.jssora02l, .jssora02r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 55px;
  height: 55px;
  cursor: pointer;
  background: url('../../../img/a02.png') no-repeat;
  overflow: hidden;
}

.jssora02l {
  background-position: -3px -33px;
}

.jssora02r {
  background-position: -63px -33px;
}

.jssora02l:hover {
  background-position: -123px -33px;
}

.jssora02r:hover {
  background-position: -183px -33px;
}

.jssora02l.jssora02ldn {
  background-position: -3px -33px;
}

.jssora02r.jssora02rdn {
  background-position: -63px -33px;
}

.jssora02l.jssora02lds {
  background-position: -3px -33px;
  opacity: .3;
  pointer-events: none;
}

.jssora02r.jssora02rds {
  background-position: -63px -33px;
  opacity: .3;
  pointer-events: none;
}

/* jssor slider thumbnail navigator skin 11 css *//*.jssort11 .p            (normal).jssort11 .p:hover      (normal mouseover).jssort11 .pav          (active).jssort11 .pav:hover    (active mouseover).jssort11 .pdn          (mousedown)*/
.jssort11 .p {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 69px;
  background: #181818;
}

.jssort11 .tp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.jssort11 .i, .jssort11 .pav:hover .i {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 60px;
  height: 60px;
  border: white 1px dashed;
}

* html .jssort11 .i {
  width /**/: 62px;
  height /**/: 32px;
}

.jssort11 .pav .i {
  border: white 1px solid;
}

.jssort11 .t, .jssort11 .pav:hover .t {
  position: absolute;
  top: 3px;
  left: 68px;
  width: 129px;
  height: 32px;

  text-align: center;

  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;

}

.jssort11 .pav .t, .jssort11 .p:hover .t {
  color: #fff;
}

.jssort11 .c, .jssort11 .pav:hover .c {
  position: absolute;
  top: 38px;
  left: 3px;
  width: 194px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  overflow: hidden;
}

.jssort11 .pav .c, .jssort11 .p:hover .c {
  color: #fc9835;
}

.jssort11 .t, .jssort11 .c {
  transition: color 2s;
  -moz-transition: color 2s;
  -webkit-transition: color 2s;
  -o-transition: color 2s;
}

.jssort11 .p:hover .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .pav:hover .c {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}

.jssort11 .p:hover, .jssort11 .pav:hover {
  background: #333;
}

.jssort11 .pav, .jssort11 .p.pdn {
  background: #462300;
}

// end jssor
.block-slide {
  .slide-item {
    img {
      width: 100%;
      max-height: 300px;
    }
  }
}

.breadcrumb {
  ul {
    li {
      display: inline-block;
      a {

      }
    }
  }
}

.list-product {

  h2.title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px #ccc solid;
    padding: 5px 0;
  }
  .filter {
    text-align: right;
    select {
      padding: 5px 10px;
      option {
        padding: 5px 0;
      }
    }
  }
  .list-product-body {
    .products-item {
      border: 1px #FFFFFF solid;
      padding: 5px;
      cursor: pointer;
      margin: 10px 0;

      .thumb {
        height: 200px;
        img {
          width: 100%;
          max-height: 200px;
        }
      }
      .name {
        padding: 5px 0;
        height: 50px;
        a {
          font-weight: bold;
        }
      }
      .price {
        color: #FF0000;
        font-weight: bold;
      }
      .buy-now {
        display: none;
        text-align: center;
        text-transform: uppercase;
        padding: 5px 0;
        margin: 8px 0;
        background: #de251c;
        border-radius: 2px;
        a {
          color: #FFFFFF;
          text-shadow: -1px 0 1px #a00;
          display: block;
        }
      }
      &:hover {
        border: 1px #cccccc solid;
        .buy-now {
          display: block;
        }
      }
    }
  }
}

.product-info {
  h1.product-title {
    margin-top: 0;
    font-size: 26px;
    font-family: $roboto-medium;
    color: #19abe0;
  }
  .product-title-b {
    color: #003;
    font-size: 12px;
  }
  ul {
    margin-top: 20px;
    padding-left: 5px;
    li {
      padding: 5px 0;
      label {
        width: 50%;
      }
      .slQuantity {
        padding: 5px;
        option {
          font-weight: bold;
        }
      }
    }
  }
  .button-buy {
    background-color: #da251c;
    margin-right: 20px;
    float: left;
    display: block;
    .icon-spcart {
      background: url(../images/ShoppingCart-32.png) no-repeat center center;
      border-right: 1px solid #e16055;
    }

    .btn-order-icon {
      height: 40px;
      float: left;
      font-size: .8em;
      width: 50px;
    }

    .text-btn {
      text-align: center;
      line-height: 40px;

      font-size: 20px;
      color: #FFFFFF;
    }
  }
  .btn-order {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    height: 40px;
    text-decoration: none;
    width: calc(50% - 10px);
    text-align: center;
    border-radius: 3px;
  }

}

.box-setup {

  float: left;
  text-align: left;
  padding: 5px;
  line-height: 22px;
  background-color: rgba(255, 246, 199, .79);
  border: 1px dashed #ffd700;
  margin-bottom: 15px;
  border-radius: 3px;
  .title-setup {
    height: 32px;
    display: block;
    padding-left: 33px;
    text-transform: uppercase;
    line-height: 32px;
    font-size: 1.1em;
  }
  .info-setup {
    border-top: 1px solid rgba(255, 215, 0, .36);
    margin-top: 5px;
    padding-top: 5px;
  }
}

.info-prod.prod-price.freeship {
  background: #edf6e1 url('../images/FreeShipping.png') 6px 0 no-repeat;
  width: 100%;
  display: block;
  padding: 5px 10px;
  margin: 0 0 15px 0;
  border-radius: 3px;
  border: 1px dashed #68af09;
  float: right;
}

.info-prod.prod-price.freeship .title {
  display: inline-block;
  width: auto !important;
  margin-left: 50px;
  line-height: 20px;
  margin-right: 0;
}

.bx-contact {
  width: 100%;
  float: left;
  text-align: left;
  padding: 10px;
  line-height: 22px;
  background-color: #f6f5f5;
  border: 1px solid #edecec;
  .title-cnt {
    font-size: 1.1em;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    display: block;
  }
  .sup-item {
    width: 100%;
    float: left;
    margin: 10px 0 0 0;
    .title-support {
      display: block;
    }
    .icon-chat {
      margin-right: 8px;
      display: block;
      padding-top: 5px;
      line-height: 24px;
      img {
        width: 24px;
        margin-right: 5px;
      }
    }
  }
}

.sliderImageGallery {
  border: 1px #cccccc solid;
  padding: 15px;
}

.product-content-list {
  .content-item {
    margin: 10px 0;
    .img {
      text-align: center;
    }
  }
}

.sticky {
  position: fixed;
  left: 960px;
  top: 0;
}

.prod-viewed-wrap {
  width: 300px;
  border: 1px solid #ddd;
  float: left;
  margin-top: 15px;
  .prod-viewed {
    width: 288px;
    margin: 5px;
    h2 {
      font-size: 18px;
      font-weight: bold;
    }
    .list-prod-view {
      .row-prod {
        width: 100%;
        float: left;
        border-top: 1px solid #ddd;
        padding: 5px 0 5px 0;
        overflow: hidden;
        .img-thumb-view {
          width: 130px;
          height: 150px;
          float: left;
          margin: 5px;
          position: relative;
          text-align: center;
        }
        .txt-thumb-view {
          width: 130px;
          float: left;
          margin: 5px;
          p {
            &:first-child {
              font-weight: 600;
            }
            > a {
              color: #0089e0;
            }
          }
          .price-new {
            color: #da251c;
            font-weight: bold;
            font-size: 1.1em;
          }
          .price-old {
            text-decoration: line-through;
            color: #999;
          }
        }
      }
    }
  }
}

.cat-menu {
  border-radius: 3;
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
  .cat-menu-title {
    line-height: 34px;
    color: #da251c;
    border-bottom: solid 1px #ccc;
    text-shadow: 1px 1px 0 #fff;
    background: #eee;
    font-weight: bold;
    padding-left: 20px;
  }
  .cat-menu-body {
    ul {
      padding-left: 10px;
      li {
        padding: 0 10px;
        a {
          padding: 5px 10px;
          display: block;
        }
      }
    }
  }
}
